 <!-- Модальное окно -->
 <div class="modal fade" id="register-modal">
    <div class="modal-dialog">
      <div class="modal-content">
            <!-- //* Скрытые радиокнопочки -->
            <input id="userenter" type="radio" name="radio" class="d-none" checked>
            <input id="userregister" name="radio" type="radio" class="d-none">
            <!--//* Заголовок -->
            <nav class="modal-header p-0 pe-3" id="top-user-modal">
                    <label for="userenter" class="border-right p-3">Войти в аккаунт</label>
                    <label for="userregister" class="border-right p-3">Зарегистрироваться</label>
                    <!-- //* Кнопочка закрытия -->
                    <button class="btn-close" data-bs-dismiss="modal" ></button>
            </nav>

        <div class="modal-body">
            <form id="userenter-form" class="d-none" method="post">
                <label for = "login">Логин</label>
                <input type = "text" name = "login" id = "login" class="form-control" required>

                <label for = "password">Пароль</label>
                <input type = "password" name = "password" id = "password" class="form-control" required>
                <hr>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" name= "reg_status" value = "userenter">Войти</button>
            </form>

            <form id="userregister-form" class="d-none" method="post">
                <label for = "r_login">Логин</label>
                <input type = "text" name = "login" id = "r_login" class="form-control" required>

                <label for = "fio">Имя и фамилия</label>
                <input type = "text" name = "fio" id = "fio" class="form-control" required>


                <label for = "r_password">Пароль</label>
                <input type = "password" name = "password" id = "r_password" class="form-control">
                
                <hr>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary"  name= "reg_status" value = "userregister">Зарегистрироваться</button>
            </form>

        </div>
      </div>
    </div>
  </div>